@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800&display=swap");

:root {
	--bg-color: #f2f2f2;
	--dark-green: #15573f;
	--green: #7baf9e;
	--coral: #fd9872;
	--dark: #0c261c;
	--gray: #6e6e6e;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Montserrat", sans-serif;
	background-color: var(--bg-color);
	min-height: 100vh;
	overflow-x: hidden;
}

.App {
	width: 100%;
	max-width: 1128px;
	margin: 0 auto;
	/* position: relative; */
}

/* logo */

header {
	width: 208px;
	margin: 62px 25px;
	transition: all 0.3s linear;
}

.desktop-vertical-header {
	transform: rotate(-90deg);
	position: absolute;
	left: 0;
	top: 161px;
}

.vertical-line {
	border-right: 2px solid rgba(21, 87, 63, 0.414827);
	height: 428px;
	position: absolute;
	left: 125px;
	top: 390px;
}

/* Home Content */

.home-wrapper {
	display: flex;
	grid-template-columns: 433px 779px;
}

.home-page-title {
	text-align: center;
	font-size: 66px;
	color: var(--dark);
	font-weight: 800;
	width: 433px;
	text-align: left;
}

.home-image-mobile {
	width: 334px;
	margin: 36px auto 0 auto;
	display: none;
}

.home-image {
	width: 779px;
	margin-top: -100px;
}

div.desktop-left {
	justify-content: left;
}

/* tipography */
p.question {
	width: 470px;
	font-size: 30px;
	color: var(--gray);
	text-align: center;
	margin-top: 30px;
	font-weight: 300;
}

.bold-text {
	font-weight: bold;
}

/* cards */
.card {
	width: 215px;
	height: 190px;
	border-radius: 5px;
	background-color: white;
	margin-left: 30px;
	margin-top: 65px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: var(--gray);
	transition: 0.3s linear;
}

.card:hover {
	cursor: url(./../assets/illustrations/maozinha.png), auto;
}

.card-active {
	background-color: var(--coral);
	box-shadow: 0px 22px 24px #c9866b;
	color: white;
}

.card-active-green {
	background-color: var(--green);
	box-shadow: 0px 22px 24px var(--dark-green);
	color: white;
}

/* margins */
.mt-1 {
	margin-top: 61px;
}

/* buttons */
.button-group {
	/* width: 100%; */
	display: flex;
	justify-content: space-between;
	margin: 47px 0 0 30px;
}

.button-group .btn {
	width: 146px;
}

a {
	text-decoration: none;
	cursor: url(./../assets/illustrations/maozinha.png), auto;
}

.btn {
	width: 174px;
	padding: 14px 22px;
	display: flex;
	align-items: center;
	background-color: var(--dark-green);
	color: white;
	border-radius: 28px;
	transition: 200ms linear;
}

.btn:hover {
	background-color: var(--green);
}

.btn-start {
	margin-top: 35px;
}

.btn.ghost {
	background-color: transparent;
	color: var(--dark-green);
	border: 1px solid var(--dark-green);
}

.btn.ghost:hover {
	background-color: var(--dark-green);
	color: white;
}

.btn-img {
	margin-right: 14px;
}

/* Utilities Classes */

.flex-item-center {
	display: flex;
	justify-content: center;
}

.grid-1 {
	display: grid;
	height: 100%;
	width: 706px;
	grid-template-rows: repeat(1fr, 4);
	justify-content: center;
}

.grid-item {
	display: flex;
	justify-content: center;
}
