@media (max-width: 700px) {
	/* header */
	header {
		width: 100%;
	}

	.logo {
		width: 166px;
		margin-top: 24px;
	}

	/* home page */

	.home-wrapper {
		display: block;
	}

	.home-page-title {
		margin-top: 45px;
		font-size: 35px;
		height: 86px;
		width: auto;
		text-align: center;
	}

	div.desktop-left {
		justify-content: center;
	}

	.home-image-mobile {
		display: block;
	}

	.home-image {
		display: none;
	}
}
