@media (max-width: 900px) {
	/* header */
	.desktop-vertical-header {
		all: unset;
		display: flex;
		justify-content: center;
		margin: 24px 10px;
	}

	.vertical-line {
		display: none;
	}

	header {
		width: 100%;
		display: flex;
		justify-content: center;
		margin: 24px 0px;
	}

	.logo {
		width: 166px;
		margin-top: 24px;
	}

	/* home page */

	.home-wrapper {
		display: block;
	}

	.home-page-title {
		margin-top: 45px;
		font-size: 35px;
		height: 86px;
		width: auto;
		text-align: center;
	}

	div.desktop-left {
		justify-content: center;
	}

	.home-image-mobile {
		display: block;
	}

	.home-image {
		display: none;
	}

	/* typography */
	p.question {
		font-size: 22px;
		width: 230px;
		font-weight: 300;
		margin: 30px auto;
	}

	.bold-text {
		font-weight: 300;
	}

	/* cards */
	.card {
		width: 265px;
		height: 74px;
		flex-direction: row;
		margin: 0;
		margin-bottom: 20px;
	}

	.card-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-top: 31px;
	}

	.card img {
		min-width: 42px;
		height: 40px;
	}

	.card p {
		min-width: 136px;
	}

	/* buttons */
	.button-group {
		height: 161px;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin: 0;
	}
}
